.main-container {
  padding: 15px;
  min-height: 96vh;
  min-width: auto;
  display: flex;
  flex-direction: row;
}

/* Full nav styles */
.navContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-contained {
  display: none;
}

.container {
  flex: 1;
  align-self: center;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

.icon-list {
  display: flex;
  flex-direction: row;
  flex: 0;
  align-self: center;
}

.btn-color {
  color: white;
}

.nav-links {
  color: white;
  text-decoration: none;
  flex-direction: row;
  display: flex;
  /* background-color: red; */
}

.links-container {
  list-style: none;
  /* background-color: brown; */
  width: 100%;
  margin: 10;
  padding: 0;
  flex: 1;
}

.navPhoto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.photo-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /*   background-color: brown; */
}

a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

li {
  padding-left: 5px;
  padding-bottom: 5px;
}

/* Full nav styles */

/* About styles */

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightgray;
  flex: 1;
  flex-wrap: wrap;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.information-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

.about-photo {
  /* width: 100%; */
  height: 300px;
  object-fit: contain;
  align-self: center;
  flex: 1;
}

.paragraphs {
  text-align: justify;
  font-weight: lighter;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* background-color: red; */
}

.about-btn {
  /* background-color: blue; */
  flex: 1;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.skills-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  /* background-color: blue; */
}

.title-container {
  border-left-width: 5px;
  border-left-color: red;
  border-left-style: solid;
  padding-left: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex: 2;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

/* About styles */

/* Responsive querys */

@media screen and (max-width: 920px) {
  .navContainer {
    display: none;
  }
  .nav-contained {
    display: block;
  }
  .about-photo {
    display: none;
    flex: 0;
  }
  .about-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  p {
    font-size: 1.3rem;
  }
  li {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 920px) {
  p {
    font-size: 1.5rem;
  }
  li {
    font-size: 1.5rem;
  }
}
